<form [formGroup]="repairFormGroup">
  <div *ngIf="barFetch">
    <br><mat-progress-bar mode="query"></mat-progress-bar><br>
  </div>
  <mat-accordion>
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>Status</mat-panel-title>
        <mat-panel-description>Status do reparo</mat-panel-description>
      </mat-expansion-panel-header>
      <app-status
        [injectedStatus$]="status$"
        [parentFormGroup]="repairFormGroup">
      </app-status>
      <app-datepicker
        [control]="'endDate'"
        [parentFormGroup]="repairFormGroup">
      </app-datepicker>
      <mat-action-row>
        <button type="button" mat-button color="primary" (click)="nextStep()">Próximo</button>
      </mat-action-row>
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>Cliente</mat-panel-title>
        <mat-panel-description>Detalhes do cliente</mat-panel-description>
      </mat-expansion-panel-header>
      <app-customer
        [disabled]="true"
        [injectedCustomer$]="customer$"
        [injectedContact$]="contact$"
        [parentFormGroup]='repairFormGroup'>
      </app-customer>
      <mat-action-row>
        <button type="button" mat-button color="warn" (click)="prevStep()">Anterior</button>
        <button type="button" mat-button color="primary" (click)="nextStep()">Próximo</button>
      </mat-action-row>
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>Equipamento</mat-panel-title>
        <mat-panel-description>Detalhes do equipamento</mat-panel-description>
      </mat-expansion-panel-header>
      <app-equipment
        [disabled]="true"
        [injectedEquipment$]="equipment$"
        [parentFormGroup]='repairFormGroup'>
      </app-equipment>
      <mat-action-row>
        <button type="button" mat-button color="warn" (click)="prevStep()">Anterior</button>
        <button type="button" mat-button color="primary" (click)="nextStep()">Próximo</button>
      </mat-action-row>
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>Notas</mat-panel-title>
        <mat-panel-description>Detalhes das notas</mat-panel-description>
      </mat-expansion-panel-header>
      <app-notas
        [disabled]="true"
        [injectedNotaDeEntrada$]="notaDeEntrada$"
        [injectedSapNotification$]="sapNotification$"
        [updateNotaFiscal]="true"
        [injectedNotaFiscal$]="notaFiscal$"
        [injectedWarranty$]="warranty$"
        [parentFormGroup]="repairFormGroup">
      </app-notas>
      <mat-action-row>
        <button type="button" mat-button color="warn" (click)="prevStep()">Anterior</button>
        <button type="button" mat-button color="primary" (click)="nextStep()">Próximo</button>
      </mat-action-row>
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="step === 4" (opened)="setStep(4)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>Follow-ups</mat-panel-title>
        <mat-panel-description>Listagem dos follow-ups</mat-panel-description>
      </mat-expansion-panel-header>
      <app-reparo-fups
        [repairFups$]="repairFups$"
        [parentFormGroup]="repairFormGroup">
      </app-reparo-fups>
      <mat-action-row>
        <button type="button" mat-button color="warn" (click)="prevStep()">Anterior</button>
        <button type="button" mat-button color="primary" (click)="nextStep()">Fim</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
  <div class="full-width">
    <br>
    <button type="button" id="atualizar" mat-raised-button color="primary" (click)="submitForm(repairFormGroup)">Atualizar</button>&nbsp;
    <button type="button" id="deletar" mat-raised-button color="warn" (click)="deleteEntry()">Deletar</button>
    <br><br>
    <div class="sucesso" *ngIf="isSuccess()">
      Salvo com sucesso!<br><br>
    </div>
    <div class="erro" *ngIf="isFailure()">
      {{error}}<br><br>
    </div>
    <div *ngIf="bar">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar><br>
    </div>
  </div>
</form>
