<mat-toolbar color="primary">
    <mat-toolbar-row>
        <h1>Serviço</h1>
        <div *ngIf="role">
          <button id="customMenu" mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>menu</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button id="clientes" mat-menu-item [routerLink]="'/clientes'">
              <mat-icon>contacts</mat-icon>
              <span>Clientes</span>
            </button>
            <button id="equipamentos" mat-menu-item [routerLink]="'/equipamentos'">
              <mat-icon>build</mat-icon>
              <span>Equipamentos</span>
            </button>
            <button id="servicos" mat-menu-item [routerLink]="'/servicos'">
              <mat-icon>format_list_bulleted</mat-icon>
              <span>Serviços</span>
            </button>
          </mat-menu>
          <a *ngIf="role" mat-button id="reparos" [routerLink]="'/reparos'">Reparos</a>
          <a *ngIf="role" mat-button id="orcamentos" [routerLink]="'/orcamentos'">Orçamentos</a>
        </div>
        <span class="example-spacer"></span>
        <div *ngIf="role">
          <button id="userMenu" mat-icon-button [matMenuTriggerFor]="user">
            <mat-icon>person</mat-icon>
          </button>
          <mat-menu #user="matMenu">
            <button id="perfil" mat-menu-item [routerLink]="'/perfil'">
              <mat-icon>face</mat-icon>
              <span>Meu Perfil</span>
            </button>
            <button id='usuarios' mat-menu-item *ngIf="role === 'admin'" [routerLink]="'/usuarios'">
              <mat-icon>people</mat-icon>
              <span>Usuários</span>
            </button>
            <button id="logout" mat-menu-item [routerLink]="'/logout'">
              <mat-icon>exit_to_app</mat-icon>
              <span>Logout</span>
            </button>
            <button id="exit" mat-menu-item (click)="exit()">
              <mat-icon>exit_to_app</mat-icon>
              <span>Exit</span>
            </button>
          </mat-menu>
        </div>
    </mat-toolbar-row>
</mat-toolbar>

