<form [formGroup]='equipmentForm'>
  <label>Selecione a operação</label><br><br>
  <mat-radio-group [(ngModel)]="operacao" (change)="radioSelect()" [ngModelOptions]="{standalone: true}">
    <mat-radio-button value="inserir">Inserir</mat-radio-button>&nbsp;
    <mat-radio-button value="atualizar">Atualizar</mat-radio-button>
  </mat-radio-group>
  <br>
  <mat-form-field class="full-width">
    <mat-label>Equipamentos</mat-label>
    <mat-select (selectionChange)="selected($event)" [formControl]="selectControl">
      <mat-option
        *ngFor="let equipment of equipments"
        value="{{equipment.id}}">
          Equipamento: {{equipment.name}} - Serial Number: {{equipment.serialNumber}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <app-equipment
    [parentFormGroup]='equipmentForm'
    [injectedEquipment]='selectedEquipment'>
  </app-equipment>
  <br>
  <button
    type="button"
    (click)="submitForm()"
    [disabled]="checkButton()"
    mat-raised-button
    color="primary">Atualizar
  </button><br><br>
  <div class="sucesso" *ngIf="message === 'sucesso'">
    Salvo com sucesso!<br><br>
  </div>
  <div class="erro" *ngIf="message === 'erro'">
    Falha ao salvar!<br><br>
  </div>
  <div *ngIf="bar">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar><br>
  </div>
</form>
