@import '../../../styles.scss';

table {
    width: 100%;
}

.table-container {
  position: relative;
  overflow: auto;
}

.mat-column-name {

  padding-left: 10px;
  padding-right: 10px;
}

.mat-column-desc {

  padding-left: 10px;
  padding-right: 10px;
}

.mat-column-price {

  padding-left: 10px;
}
