<form [formGroup]="orcamentoFormGroup">
  <mat-grid-list cols="4" rowHeight="1500px">
    <mat-grid-tile [colspan]="1"></mat-grid-tile>
    <mat-grid-tile [colspan]="2">
      <div class="example-full-width">
        <app-customer [customerFormGroup]='customerFormGroup' ></app-customer>
        <br>
        <app-equipment ></app-equipment>
        <br>
        <app-services (servicesToInsert)="totalPrice = $event"></app-services>  
        <br>
        <app-valor [totalPrice]="totalPrice" ></app-valor>
        <br>
        <app-datepicker (dateWasSelected)="creationDate = $event"></app-datepicker>
        <br>
        <button mat-raised-button color="primary" (click)="mariolar()" >Enviar</button>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1"></mat-grid-tile>
  </mat-grid-list>
</form>