<form [formGroup]="orcamentoFormGroup" (submit)="submitForm()">
      <div class="full-width">
        <div class="sucesso" *ngIf="message === 'sucesso'">
          Salvo com sucesso!<br><br>
        </div>
        <div class="erro" *ngIf="message === 'erro'">
          Falha ao salvar!<br><br>
        </div>
        <div *ngIf="bar">
          <mat-progress-bar mode="indeterminate"></mat-progress-bar><br>
        </div>
        <app-status
          [disabled]="role == 'user'"
          [injectedStatus]="status"
          [parentFormGroup]="orcamentoFormGroup"></app-status>
        <br>
        <span *ngIf="role !== 'user'">
          <button type="submit" mat-raised-button color="primary">Atualizar</button>&nbsp;
        </span>
        <span *ngIf="checkStatus()">
        <button
          type="button"
          mat-raised-button color="warn"
          (click)="downloadPdf()">Download</button>
          <br>
        </span>
        <br>
        <input type="hidden" [value]="id">
        <mat-tab-group>
          <mat-tab label="Cliente">
            <br>
            <app-customer
              disabled="disabled"
              [injectedCustomer]="customer"
              [injectedContact]="contact"
              [parentFormGroup]='orcamentoFormGroup'>
          </app-customer>
          </mat-tab>
          <mat-tab label="Equipamento">
            <br>
            <app-equipment
              disabled="disabled"
              [injectedEquipment]="equipment"
              [parentFormGroup]='orcamentoFormGroup'>
            </app-equipment>
          </mat-tab>
          <mat-tab label="Serviços">
            <br>
            <app-services
              disabled="disabled"
              [injectedServices]="services"
              (servicesToInsert)="totalPrice = $event"
              [parentFormGroup]='orcamentoFormGroup'>
            </app-services>
          </mat-tab>
          <mat-tab label="Valor">
            <br>
            <app-valor
              disabled="disabled"
              [totalPrice]="totalPrice"
              [injectedDiscount]="totalDiscount"
              [parentFormGroup]="orcamentoFormGroup">
            </app-valor>
          </mat-tab>
        </mat-tab-group>
        <br>
        <app-datepicker
          disabled="disabled"
          [injectedDate]="creationDate"
          [control]="'approvalDate'"
          [parentFormGroup]="orcamentoFormGroup"></app-datepicker>
      </div>
</form>
