<form>
  <mat-grid-list cols="4" rowHeight="1500px">
    <mat-grid-tile [colspan]="1"></mat-grid-tile>
    <mat-grid-tile [colspan]="2">
      <div class="example-full-width">
        <app-customer disabled="disabled" [injectedCustomer]="customer" [injectedContact]="contact"></app-customer>
        <br>
        <app-equipment disabled="disabled" [injectedEquipment]="equipment"></app-equipment>
        <br>
        <app-services disabled="disabled" [injectedServices]="services" (servicesToInsert)="totalPrice = $event"></app-services>  
        <br>
        <app-valor [totalPrice]="totalPrice" ></app-valor>
        <br>
        <app-datepicker (dateWasSelected)="creationDate = $event"></app-datepicker>
        <br>
        <button mat-raised-button color="primary">Enviar</button>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1"></mat-grid-tile>
  </mat-grid-list>
</form>