<form [formGroup]="parentFormGroup">
  <mat-form-field *ngIf="injectedDate$">
    <input matInput type="text" [formControl]="date" >
  </mat-form-field>
  <div id="inner"></div>
  <div id="myDiv">
   <mat-form-field *ngIf="!injectedDate$">
    <input matInput drops='down'
      #dayPicker="dpDayPicker"
      [formControl]="date"
      mode="daytime"
      [dpDayPicker]="datePickerConfig"
      theme="dp-material"
      (onChange)="changeDate($event)" />
    </mat-form-field>
    <button *ngIf="!injectedDate$" mat-button (click)="open()"><mat-icon>calendar_today</mat-icon></button>
  </div>
</form>
