<form [formGroup]="parentFormGroup">
  <mat-card class="outer-card">
    <mat-card>
      <mat-form-field class="full-width">
        <mat-label>SAP Notification</mat-label>
        <input matInput
          [formControl]="sapNotification">
      </mat-form-field>
      <br>
      <mat-form-field class="full-width">
        <mat-label>Nota de Entrada</mat-label>
        <input matInput
          [formControl]="notaDeEntrada">
      </mat-form-field>
      <mat-form-field class="full-width" *ngIf="updateNotaFiscal">
        <mat-label>Nota Fiscal</mat-label>
        <input matInput
          [formControl]="notaFiscal">
      </mat-form-field>
      <br>
      <mat-checkbox
        [checked]="injectedWarranty"
        [formControl]="warranty">Garantia</mat-checkbox>
    </mat-card>
  </mat-card>
</form>
