<mat-card class="outer-card">
    <mat-card>
      <mat-form-field class="example-full-width">
        <mat-label>Cliente</mat-label>
        <input type="text" class="example-form" matInput placeholder="Ex. TV Globo" 
          [matAutocomplete]="cust" 
          [formControl]="customerName" 
          (ngModelChange)="selectCustomer($event)">
        <mat-autocomplete #cust="matAutocomplete" [displayWith]="displayFn">
          <mat-option *ngFor="let customer of filteredCustomer | async" [value]="customer">
            {{customer.name}}
          </mat-option>
        </mat-autocomplete>              
      </mat-form-field>
      <br>
      <mat-form-field class="example-full-width">
        <mat-label>Nome Completo</mat-label>
        <input matInput value={{selectedCustomer.fullName}} [formControl]="customerFullName">
      </mat-form-field>
      <br>
      <mat-form-field class="example-full-width">
        <mat-label>CNPJ</mat-label>
        <input matInput value={{selectedCustomer.cnpj}} [formControl]="customerCnpj">
      </mat-form-field>
      <br>        
      <mat-form-field class="example-full-width">
        <mat-label>Responsável</mat-label>
        <input type="text" class="example-form" matInput placeholder="Ex. Togashi" 
          [matAutocomplete]="cont" 
          [formControl]="contactName" 
          (ngModelChange)="selectContact($event)">
        <mat-autocomplete #cont="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let contact of filteredContact" [value]="contact">
                {{contact.name}}
            </mat-option>            
        </mat-autocomplete>
      </mat-form-field>
      <br>            
      <mat-form-field class="example-full-width">
        <mat-label>Departamento</mat-label>
        <input matInput value={{selectedContact.department}} [formControl]="contactDept">
      </mat-form-field>  
      <br>            
      <mat-form-field class="example-full-width">
        <mat-label>E-mail</mat-label>
        <input matInput value={{selectedContact.email}} [formControl]="contactEmail">
      </mat-form-field>  
    </mat-card>  
</mat-card>