<form [formGroup]="loginFormGroup" (submit)="submitForm()">
  <mat-card  class="outer-card">
      <mat-card>
          <mat-form-field class="full-width">
              <mat-label>Usuário</mat-label>
              <input type="text" matInput formControlName="username">
          </mat-form-field>
          <br>
          <mat-form-field class="full-width">
              <mat-label>Senha</mat-label>
              <input type="password" matInput formControlName="password">
          </mat-form-field>
          <br>
          <button
          type="submit"
          [disabled]="checkButton()"
          mat-raised-button
          color="primary">Enviar
        </button><br>
        <div class="sucesso" *ngIf="message === 'sucesso'">
          <br>Login com sucesso!<br>
        </div>
        <div class="erro" *ngIf="message === 'erro'">
          <br>{{error}}<br>
        </div>
        <div *ngIf="bar">
          <br><mat-progress-bar mode="indeterminate"></mat-progress-bar><br>
        </div>
      </mat-card>
  </mat-card>
</form>
