<form [formGroup]="parentFormGroup">
  <mat-card class="outer-card">
      <mat-card>
          <mat-form-field class="full-width">
            <mat-label>Valor</mat-label>
            <input type="text" matInput
              value={{totalPrice}}
              [formControl]="totalPriceControl">
            <span matPrefix>R$&nbsp;</span>
          </mat-form-field>
          <br>
          <mat-form-field class="full-width">
            <mat-label>Desconto</mat-label>
            <input type="text" matInput
              [formControl]="totalDiscountControl"
              [value]="injectedDiscount$.value">
            <span matSuffix>%</span>
          </mat-form-field>
          <br>
          <mat-form-field class="full-width">
            <mat-label>Valor Final</mat-label>
            <input type="text" matInput disabled
              [value]="returnTotal()"
              value="{{totalPrice}}">
            <span matPrefix>R$&nbsp;</span>
          </mat-form-field>
      </mat-card>
  </mat-card>
</form>
