<form [formGroup]="reparoFormGroup">
  <mat-grid-list cols="4" rowHeight="1500px">
    <mat-grid-tile [colspan]="1"></mat-grid-tile>
    <mat-grid-tile [colspan]="2">
      <div class="example-full-width">
        <app-customer [customerFormGroup]="customerFormGroup" ></app-customer>
        <br>
        <app-equipment ></app-equipment>
        <br>
        <mat-card class="outer-card">
          <mat-card>
            <mat-form-field class="example-full-width">
              <mat-label>SAP Notification</mat-label>
              <input matInput>
            </mat-form-field>
            <br>        
            <mat-form-field class="example-full-width">
              <mat-label>Nota de Entrada</mat-label>
              <input matInput>
            </mat-form-field>
            <br>            
            <mat-checkbox>Garantia</mat-checkbox>     
          </mat-card> 
        </mat-card>        
        <br>
        <app-datepicker (dateWasSelected)="creationDate = $event"></app-datepicker>
        <br>
        <button mat-raised-button color="primary" (click)="mariolar()" >Enviar</button>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1"></mat-grid-tile>
</mat-grid-list>
</form>