<form [formGroup]="repairFupFormGroup">
  <mat-card class="outer-card">
      <mat-card>
          <input type="hidden" [formControl]="id">
          <mat-form-field class="full-width">
              <mat-label>Description</mat-label>
              <textarea matInput [formControl]="description"></textarea>
          </mat-form-field>
          <br>
          <div formArrayName="spareParts">
            <div *ngFor="let sparePart of spareParts.controls; let i = index" [formGroupName]="i">
              <mat-form-field class="full-width">
                <mat-label>Spare Part?</mat-label>
                <input matInput formControlName="partNumber">
              </mat-form-field>
            </div>
          </div>
          <div *ngIf="!disabled">
            <button type="button" mat-stroked-button (click)="addPart()">Adicionar Spare Part</button>&nbsp;
            <button *ngIf="spareParts.length" type="button" mat-stroked-button (click)="removePart()">Remover Spare Part</button>
            <br><br>
          </div>
          <app-datepicker
            [disabled]="true"
            [injectedDate]="creationDate.value"
            [control]="'updateDate'"
            [parentFormGroup]="repairFupFormGroup">
          </app-datepicker>
          <input *ngIf="disabled" matInput [formControl]="username">
      </mat-card>
  </mat-card>
</form>
