@import '../../../styles.scss';

table {
    width: 100%;
}

.table-container {
  position: relative;
  overflow: auto;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.mat-column-label {

  padding-right: 10px;
}

.mat-column-sapNotification {

  padding-left: 10px;
  padding-right: 10px;
}

.mat-column-repairFups {

  padding-left: 10px;
  padding-right: 10px;
}

.mat-column-equipment {

  padding-left: 10px;
  padding-right: 10px;
}

.mat-column-serialNumber {

  padding-left: 10px;
  padding-right: 10px;
}

.mat-column-customer {

  padding-left: 10px;
  padding-right: 10px;
}

.mat-column-warranty {

  padding-left: 10px;
  padding-right: 10px;
}

.mat-column-tat {

  padding-left: 10px;
  padding-right: 10px;
}

.mat-column-status {

  padding-left: 10px;
}

