@import '../../../styles.scss';

table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

td, th {
    width: 25%;
}

.mat-column-label {

    width: 12.5% !important;
}

.mat-column-sapNotification {

    width: 12.5% !important;
}

.mat-column-repairFups {

   width: 12.5% !important;
}

.mat-column-equipment {

    width: 12.5% !important;
}

.mat-column-serialNumber {

    width: 12.5% !important;
}

.mat-column-customer {

    width: 12.5% !important;
}

.mat-column-warranty {

    width: 12.5% !important;
}

.mat-column-tat {

    width: 12.5% !important;
}

.mat-column-status {

    width: 12.5% !important;
}

