@import '../../../styles.scss';

table {
    width: 100%;
}

.table-container {
  position: relative;
  overflow: auto;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

[class*="mat-column-"] {
  padding-left: 15px;
  padding-right: 15px;
}
