<form [formGroup]='customerForm'>
  <div *ngIf="barFetch">
    <br><mat-progress-bar mode="query"></mat-progress-bar><br>
  </div>
  <label>Selecione a operação</label><br><br>
  <mat-radio-group [(ngModel)]="operacao" (change)="radioSelect(customerForm)" [ngModelOptions]="{standalone: true}">
    <mat-radio-button value="inserir">Inserir</mat-radio-button>&nbsp;
    <mat-radio-button value="atualizar">Atualizar</mat-radio-button>
  </mat-radio-group>
  <br>
  <mat-form-field class="full-width" *ngIf="isAtualizar()">
    <mat-label>Clientes</mat-label>
    <mat-select (selectionChange)="customerSelect($event)" [formControl]="selectControl">
      <mat-option
        *ngFor="let customer of customers"
        value="{{customer.id}}">
          Cliente: {{customer.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field class="full-width" *ngIf="isAtualizar()">
    <mat-label>Contatos</mat-label>
    <mat-select (selectionChange)="contactSelect($event)" [formControl]="selectControl">
      <mat-option
        *ngFor="let contact of contacts"
        value="{{contact.id}}">
          Contato: {{contact.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <app-customer
    [parentFormGroup]='customerForm'
    [injectedCustomer$]='selectedCustomer$'
    [injectedContact$]='selectedContact$'>
  </app-customer>
  <br>
  <button
    type="button"
    (click)="submitForm(customerForm)"
    [disabled]="checkButton()"
    mat-raised-button
    color="primary">
      <div *ngIf="isAtualizar()">Atualizar</div>
      <div *ngIf="isInserir()">Inserir</div>
  </button><br><br>
  <div class="sucesso" *ngIf="isSuccess()">
    Salvo com sucesso!<br><br>
  </div>
  <div class="erro" *ngIf="isFailure()">
    {{error}}<br><br>
  </div>
  <div *ngIf="bar">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar><br>
  </div>
</form>
