<form [formGroup]='userForm'>
  <label>Selecione a operação</label><br><br>
  <mat-radio-group [(ngModel)]="operacao" (change)="radioSelect()" [ngModelOptions]="{standalone: true}">
    <mat-radio-button value="inserir">Inserir</mat-radio-button>&nbsp;
    <mat-radio-button value="atualizar">Atualizar</mat-radio-button>
  </mat-radio-group>
  <br>
  <mat-form-field class="full-width">
    <mat-label>Usuários</mat-label>
    <mat-select (selectionChange)="selected($event)" [formControl]="selectControl">
      <mat-option
        *ngFor="let user of users"
        value="{{user.id}}">
          Usuário: {{user.username}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-card class="outer-card">
    <mat-card>
      <mat-form-field class="full-width">
          <mat-label>Username</mat-label>
          <input type="text" matInput [formControl]="username">
      </mat-form-field>
      <br>
      <mat-form-field class="full-width">
          <mat-label>Nome Completo</mat-label>
          <input type="text" matInput [formControl]="fullName">
      </mat-form-field>
      <br>
      <mat-form-field class="full-width">
          <mat-label>E-mail</mat-label>
          <input type="text" matInput [formControl]="email">
      </mat-form-field>
      <br>
      <mat-form-field class="full-width">
          <mat-label>Perfil</mat-label>
          <mat-select matInput [formControl]="profile">
            <mat-option value="user">User</mat-option>
            <mat-option value="manager">Manager</mat-option>
            <mat-option value="admin">Admin</mat-option>
          </mat-select>
      </mat-form-field>
      <br>
      <mat-form-field class="full-width">
          <mat-label>Cargo</mat-label>
          <input type="text" matInput [formControl]="role">
      </mat-form-field>
      <br>
      <mat-form-field class="full-width">
          <mat-label>Telefone</mat-label>
          <input type="text" matInput [formControl]="phone">
      </mat-form-field>

      <mat-checkbox *ngIf="!isMe() && isAtualizar()" matInput [formControl]="changePass">Resetar Senha?</mat-checkbox>
      <mat-checkbox *ngIf="isMe()" matInput [formControl]="changePass" (change)="checkPassword($event)">Alterar Senha?</mat-checkbox>
      <mat-form-field class="full-width" *ngIf="isInserir() || isMe()">
        <mat-label>Senha</mat-label>
        <input type="password" matInput [formControl]="password">
      </mat-form-field>
      <mat-form-field class="full-width" *ngIf="isInserir() || isMe()">
        <mat-label>Confirme a senha</mat-label>
        <input type="password" matInput [formControl]="passwordConfirm">
      </mat-form-field>
      <small [hidden]="!userForm.errors || !userForm.errors.notMatch" style="color: red;">
        As senhas não conferem
      </small>
      <small [hidden]="!password.errors || !password.errors.minlength" style="color: red;">
        <br>A senha deve ter no mínimo 8 caracteres
      </small>
    </mat-card>
  </mat-card>
  <br>
  <button
    type="button"
    [disabled]="checkButton()"
    (click)="submitForm()"
    mat-raised-button
    color="primary">Enviar
  </button><br><br>
  <div class="sucesso" *ngIf="message === 'sucesso'">
    Salvo com sucesso!<br><br>
  </div>
  <div class="erro" *ngIf="message === 'erro'">
    Falha ao salvar!<br><br>
  </div>
  <div *ngIf="bar">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar><br>
  </div>
</form>
