/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/theming";

$primaryPalette: mat-palette($mat-indigo);
$accentPalette:  mat-palette($mat-pink, A200, A100, A400);

// the default warn palette is red, so use that if the theme doesn't define one
$warnPalette:    mat-palette($mat-red);
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.base-form {
  // min-width: 150px;
  // max-width: 500px;
  width: 100%;
}

.full-width {
  width: 100%;
  align-self: baseline;
}

.half-width {
  width: 50%;
  align-self: baseline;
}

.outer-card {
  overflow: auto;
  // width: 50%;
  background-color: mat-color($primaryPalette);
}

.ng-invalid .ng-touched {
  border: red;
}

.sucesso {
  color: #4CAF50;
  font-weight: bold;
}

.erro {
  color: #D50000;
  font-weight: bold;
}

.mat-progress-bar {
  width: 50%;
}
