@import '../../../styles.scss';

table {
    width: 100%;
}

.table-container {
  position: relative;
  overflow: auto;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}


.mat-column-label {

  padding-right: 10px;
}

.mat-column-name {
  padding-left: 10px;
  padding-right: 10px;
}

.mat-column-equipment {

  padding-left: 10px;
  padding-right: 10px;
}

.mat-column-serialNumber {

  padding-left: 10px;
  padding-right: 10px;
}

.mat-column-totalPrice {

  padding-left: 10px;
  padding-right: 10px;
}

.mat-column-totalDiscount {

  padding-left: 10px;
  padding-right: 10px;
}

.mat-column-status {

  padding-left: 10px;
  padding-right: 10px;
}

.mat-column-creationDate {

  padding-left: 10px;
}
