table {
    width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

.mat-column-label {

  width: 12.5% !important;
}

.mat-column-name {

  width: 12.5% !important;
}

.mat-column-equipment {

  width: 12.5% !important;
}

.mat-column-serialNumber {

  width: 12.5% !important;
}

.mat-column-totalPrice {

  width: 12.5% !important;
}

.mat-column-totalDiscount {

  width: 10.5% !important;
}

.mat-column-status {

  width: 12.5% !important;
}

.mat-column-creationDate {

  width: 14.5% !important;
}
